.message-home {
    text-align: center;
    font-size:60px !important;
    font-weight: bold;
    background-color: #20d464;
}

.container-image-home{
    display: flex;
    justify-content: center;
}

.image-home{
    width: 330px;
}

.image-artist-list{
    width: 100px;
    margin-left: 10%;
    padding-right: 10px;
    padding-left: 40px;
    border-radius: 5%;
}

.name-artist-list{
    text-align: left;

}

.artist-list{
    top: 0px;
    width: 500px;
    height: 80px;
    left: 0%;
    display: flex;
    align-items: center;
    /*background-color: #0c0e14;*/}

.artist-list-title {
    margin-left: 3%;
    padding-bottom: 0px;
    width: 500px;
    padding-left: 40px;
    text-align: left;
    font-size:30px !important;
    font-weight: bold;

}

.regular-text{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    padding: 0, 3rem; 
}

.emoji-separator{
    text-align: center;
}