

.message-home {
    text-align: center;
    font-size:40px !important;
    font-weight: bold;
}

.container-image-home{
    display: flex;
    justify-content: center;
}

.image-home{
    width: 330px;
}