.message-home {
    text-align: center;
    font-size:60px !important;
    font-weight: bold;
    background-color: #20d464;
    margin-bottom: 70px;
}

.container-image-home{
    display: flex;
    justify-content: center;
}

.image-home{
    width: 250px;
}


.container-image-home{
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-common{
    width: 150px;
}

.image-artist-list{
    width: 100px;
    padding-right: 10px;
    padding-left: 40px;
    border-radius: 5%;
}

.name-artist-list{
    text-align: left;

}

.artist-list{
    top: 0px;
    width: 500px;
    height: 80px;
    left: 0%;
    display: flex;
    align-items: center;
    background-color: #0c0e1400;}

.artist-list-title {
    padding-bottom: 0px;
    width: 500px;
    padding-left: 40px;
    text-align: left;
    font-size:30px !important;
    font-weight: bold;
}

.common-message {
    padding-bottom: 0px;
    width: 100%;
    text-align: center;
    font-size:20px !important;
    margin-bottom: 0px;
}

.artist-list-common {
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 5px;
    margin-bottom: 0px;
    width: 100%;
    justify-content: center; 
    text-align: center;
    font-size:20px !important;
    font-weight: bold;
}

.artist-list-top-global{
    margin-bottom: 0px;
    background-color: rgb(53, 130, 202);
    width: 100%;
    padding-bottom: 0px;
    padding-left: 40px;
    text-align: left;
    font-size:30px !important;
    font-weight: bold;
}

.artist-list-top-colombia{
    margin-bottom: 0px;
    background-color: rgb(207, 158, 12);
    width: 100%;
    padding-bottom: 0px;
    padding-left: 40px;
    text-align: left;
    font-size:30px !important;
    font-weight: bold;
}

.artist-list-top-current{
    margin-bottom: 0px;
    background-color: #20d464;
    width: 100%;
    padding-bottom: 0px;
    padding-left: 40px;
    text-align: left;
    font-size:30px !important;
    font-weight: bold;
}